/* pagina COMICS */

.seccion-comics {background-image: url(../assets/img/comics/fondocomics.png);}

.colornav li {list-style: none;
    display: inline;
    text-align: center;
    padding: 3rem;}
    a{text-decoration:color(from color srgb r g b);}
    

.colornav {background-color: blueviolet;}
.buscador {justify-content: space-between;}

.primeraseccion {display: flex;
flex-direction: row;
justify-content: center;}
.segundaseccion {display: flex;
    flex-direction: row;
justify-content: center;}
    .terceraseccion {display: flex;
        flex-direction: row;
}
.titulo2 {justify-content: center;}
.titulo3 {justify-content: center;}

.color1 
{background-color: rgb(221, 228, 96);}
.color2 
{background-color: rgb(221, 228, 96);}
.color3
{background-color: rgb(221, 228, 96);}
.color4
{background-color: rgb(221, 228, 96);}
.color5
{background-color: rgb(221, 228, 96);}
.color6
{background-color: rgb(221, 228, 96);}
.color7
{background-color: rgb(221, 228, 96);}
.color8
{background-color: rgb(221, 228, 96);}
.color9
{background-color: rgb(221, 228, 96);}

