/*comandos GENERICOS*/

@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    width: 100;
    box-sizing: border-box;
}

ul li{list-style: none;
    display: inline;
    text-align: center;
    padding: 3rem;}
    a{text-decoration:color(from color srgb r g b);}
    body{background-color: gold;
        font-family: "Holtwood One SC", serif;
    background-attachment: fixed;
    text-align: center;}