
ul li{list-style: none;
    display: inline;
    text-align: center;
    padding: 3rem;}
    a{text-decoration:$color-fuente;}
    body{background-color:$background-color;
        font-family: "Holtwood One SC", serif;
    background-attachment: fixed;
    text-align: center;}

    