
/*pagina HISTORIA*/

.seccion-historia {background-image: url(../assets/img/historia/fondohistoria.png);
    height: 100px;
background-color: rgb(236, 199, 37);
background-size: cover;
background-position: center;
} 

.navbarhistoria {background-color:$color-fuente;}

.textohistoria {
    padding: 20px 20px 20px 20px;
    text-align: center;
    border: 5px solid;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    cursor: pointer;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
  }
  .textohistoria p {
    margin: 0.5rem 4rem; 
    text-align: center;
  }