
/*pagina HISTORIA*/

.seccion-historia {background-image: url(../assets/img/historia/fondohistoria.png);
    height: 100px;
background-color: rgb(236, 199, 37);
background-size: cover;
background-position: center;
} 

.navbarhistoria {background-color:$color-fuente;}