/*pagina PELICULAS*/

.seccion-peliculas {background-image: url(../assets/peliculas/fondopeliculas.png);}

.navbarpeliculas {background-color: $color-fuente;}

.navbarpeliculas ul li {list-style: none;
display: inline;
text-align: center;
padding: 3rem;}

.peliculascontenido p {
    margin: 1rem 8rem 5rem 5rem ;
    text-align: center;
  }
  .peliculascontenido {
    margin-top: 3rem;
  }
  
  .titulopeliculas {
    text-align: center;
    margin-top: 3rem;
  }