/*comandos GENERICOS*/
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  width: 100;
  box-sizing: border-box;
}

ul li {
  list-style: none;
  display: inline;
  text-align: center;
  padding: 3rem;
}

a {
  text-decoration: rgb(5, 5, 5);
}

body {
  background-color: gold;
  font-family: "Holtwood One SC", serif;
  background-attachment: fixed;
  text-align: center;
}

/* inicio INDEX*/
.colornav1 li {
  list-style: none;
  display: inline;
  text-align: center;
  padding: 3rem;
}

a {
  text-decoration: color(from color srgb r g b);
}

.button1 {
  font-family: "Holtwood One SC";
  padding: 10px 10px;
  background-position: right;
  background-color: rgb(148, 46, 245);
}

.button2 {
  font-family: "Holtwood One SC";
  padding: 10px 10px;
  background-position: right;
  background-color: rgb(148, 46, 245);
}

.buscadorinicio {
  flex-direction: row;
  justify-content: right;
  margin-top: 20px;
  width: 20px;
  min-height: 20px;
}

.colornav1 {
  background-color: rgb(5, 5, 5);
  width: 100%;
  height: 100%;
}

.colorindex {
  background-color: gold;
}

.icono {
  background-color: gold;
}

.galeria-contenedora {
  margin-top: -60px;
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit minmax(250px 1fr));
  background-color: rgb(182, 39, 238);
}

.galeria-contenedora img {
  height: 90%;
  width: 20%;
  object-fit: cover;
}

.primerafila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.segundafila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.encabezado {
  height: auto;
  width: auto;
  margin-top: 20px;
}

.imagenizquierda {
  margin: 60px 30px 30px -1000px;
}

.imagenderecha {
  margin: -620px 20px 20px 1000px;
}

.textoprincipal {
  display: flex;
  width: 100px;
  text-align: center;
  position: relative;
  top: -611px;
  right: -611px;
}

.carrusel {
  display: flex;
  width: 600px;
  height: 430px;
}

img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.carrusel {
  margin-bottom: 100px;
}

/* pagina COMICS */
.seccion-comics {
  background-image: url(../assets/img/comics/fondocomics.png);
}

.colornav li {
  list-style: none;
  display: inline;
  text-align: center;
  padding: 3rem;
}

a {
  text-decoration: color(from color srgb r g b);
}

.colornav {
  background-color: rgb(5, 5, 5);
}

.buscador {
  justify-content: space-between;
}

.primeraseccion, .segundaseccion, .terceraseccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titulo2 {
  justify-content: center;
}

.titulo3 {
  justify-content: center;
}

.color1 {
  background-color: rgb(221, 228, 96);
}

.color2 {
  background-color: gold;
}

.color3 {
  background-color: gold;
}

.color4 {
  background-color: gold;
}

.color5 {
  background-color: gold;
}

.color6 {
  background-color: gold;
}

.color7 {
  background-color: gold;
}

.color8 {
  background-color: gold;
}

.color9 {
  background-color: gold;
}

/*pagina VIDEOJUEGOS*/
.seccion-videojuegos {
  background-image: url(../assets/img/videojuegos/fondovideojuegos.png);
  height: 100px;
  background-color: blueviolet;
  background-size: cover;
  background-position: center;
}

.headervideojuegos {
  position: relative;
  padding: 0 2rem;
}

.colornav3 {
  background-color: rgb(5, 5, 5);
}

.colornav3 ul li {
  list-style: none;
  display: inline;
  text-align: center;
  padding: 3rem;
}

a {
  text-decoration: color(from color srgb r g b);
  background-color: rgb(5, 5, 5);
}

.h1 {
  margin: left -100px;
}

.titulovideojuegos {
  text-align: center;
  height: 70px;
  margin: 467px 192px -16px -717px;
}

.videojuegostexto {
  text-align: center;
  width: 1000px;
  display: flex;
  width: 100px;
  text-align: center;
  position: relative;
  top: -1260px;
  right: -535px;
}

main section {
  display: flex;
  width: 300px;
  height: 300px;
}

img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.imagenvideo {
  width: 200px;
  margin: bottom 200px;
}

/*pagina PELICULAS*/
.seccion-peliculas {
  background-image: url(../assets/peliculas/fondopeliculas.png);
}

.navbarpeliculas {
  background-color: rgb(5, 5, 5);
}

.navbarpeliculas ul li {
  list-style: none;
  display: inline;
  text-align: center;
  padding: 3rem;
}

a {
  text-decoration: color(from color srgb r g b);
}

/*pagina HISTORIA*/
.seccion-historia {
  background-image: url(../assets/img/historia/fondohistoria.png);
  height: 100px;
  background-color: rgb(236, 199, 37);
  background-size: cover;
  background-position: center;
}

.navbarhistoria {
  background-color: rgb(5, 5, 5);
}

/*MODIFICACIONES RESPONSIVE*/
@media (max-width: 1024) {
  .headerindex {
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
  .colornav1 {
    width: 70%;
    display: inline;
  }
  .colorindex {
    flex-direction: column;
  }
  .encabezado {
    width: 60%;
  }
  .buscadorinicio {
    width: 50%;
    height: 50%;
  }
  .imagenizquierda {
    margin: 10 20 20 10;
  }
  .imagenderecha {
    margin: 10 20 20 10;
  }
  .textoprincipal {
    display: none;
    align-items: center;
    position: relative;
    width: 50%;
    text-align: center;
    position: relative;
    top: -626px;
    right: -29px;
  }
  /*historia*/
  .navbarhistoria {
    background-color: blue;
  }
}
@media (max-width: 768) {
  .colornav1 {
    display: none;
    flex-direction: column;
  }
  .colorindex {
    flex-direction: column;
    border-radius: 100%;
  }
  .textoprincipal {
    height: auto;
    width: auto;
  }
  /*historia*/
  .navbarhistoria {
    background-color: blue;
  }
  /*peliculas*/
  .navbarpeliculas ul li {
    flex-direction: column;
  }
}
@media (max-width: 320) {
  .colorindex {
    text-decoration: blue;
  }
  .textoprincipal {
    text-align: left;
  }
  /*historia*/
  .navbarhistoria ul li a {
    background-color: gold;
    flex-direction: column;
  }
  .sitiohistoria {
    display: none;
  }
  /*peliculas*/
  .sitiopeliculas a span {
    display: none;
  }
  .navbarpeliculas a span {
    flex-direction: column;
  }
}
/*comics*/
@media (max-width: 1440) {
  .primeraseccion, .segundaseccion, .terceraseccion {
    display: none;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 1024) {
  .seccion-comics {
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 768) {
  .colornav1 {
    padding: auto;
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
